# Create data

In [1]:
import psycopg
from faker import Faker
import random
from datetime import datetime, timedelta

fake = Faker()

# -----------------------------------------
# 1. Connection helper
# -----------------------------------------
def get_connection():
    return psycopg.connect(
        host="localhost",
        port=5431,  # from docker-compose mapping
        dbname="test_db",
        user="luke",
        password="luke_password"
    )

In [15]:
def drop_all_tables():
    with get_connection() as conn:
        cur = conn.cursor()
        
        # Drop tables in correct order due to foreign key constraints
        tables = [
            "marketing_campaigns",
            "interactions",
            "invoices",
            "sales",
            "opportunities",
            "leads",
            "products",
            "suppliers",
            "employees",
            "customers"
        ]
        
        for table in tables:
            cur.execute(f"DROP TABLE IF EXISTS {table} CASCADE")
        
        conn.commit()
        print("✅ All tables dropped successfully.")

# Call the function
drop_all_tables()

✅ All tables dropped successfully.

In [16]:
# -----------------------------------------
# 2. Create schema
# -----------------------------------------
def create_crm_tables():
    with get_connection() as conn:
        cur = conn.cursor()

        cur.execute("""
        CREATE TABLE IF NOT EXISTS customers (
            customer_id SERIAL PRIMARY KEY,
            first_name VARCHAR(100),
            last_name VARCHAR(100),
            email VARCHAR(255),
            phone VARCHAR(50),
            address VARCHAR(255),
            city VARCHAR(100),
            country VARCHAR(100),
            signup_date DATE,
            loyalty_points INT
        );
        """)

        cur.execute("""
        CREATE TABLE IF NOT EXISTS suppliers (
            supplier_id SERIAL PRIMARY KEY,
            supplier_name VARCHAR(150),
            contact_person VARCHAR(100),
            phone VARCHAR(50),
            email VARCHAR(255),
            address VARCHAR(255),
            city VARCHAR(100),
            country VARCHAR(100),
            rating DECIMAL(3,2),
            payment_terms VARCHAR(50),
            active_since DATE
        );
        """)

        cur.execute("""
        CREATE TABLE IF NOT EXISTS products (
            product_id SERIAL PRIMARY KEY,
            product_name VARCHAR(150),
            sku VARCHAR(50),
            description VARCHAR(500),
            category VARCHAR(100),
            unit_price DECIMAL(10,2),
            supplier_id INT REFERENCES suppliers(supplier_id),
            stock_quantity INT,
            reorder_level INT,
            discontinued BOOLEAN
        );
        """)

        cur.execute("""
        CREATE TABLE IF NOT EXISTS employees (
            employee_id SERIAL PRIMARY KEY,
            first_name VARCHAR(100),
            last_name VARCHAR(100),
            email VARCHAR(255),
            phone VARCHAR(50),
            department VARCHAR(100),
            position VARCHAR(100),
            hire_date DATE,
            salary DECIMAL(10,2),
            is_active BOOLEAN
        );
        """)

        cur.execute("""
        CREATE TABLE IF NOT EXISTS leads (
            lead_id SERIAL PRIMARY KEY,
            lead_name VARCHAR(150),
            company VARCHAR(150),
            email VARCHAR(255),
            phone VARCHAR(50),
            status VARCHAR(50),
            source VARCHAR(100),
            assigned_to INT REFERENCES employees(employee_id),
            created_on DATE,
            converted BOOLEAN
        );
        """)

        cur.execute("""
        CREATE TABLE IF NOT EXISTS opportunities (
            opportunity_id SERIAL PRIMARY KEY,
            lead_id INT REFERENCES leads(lead_id),
            product_id INT REFERENCES products(product_id),
            estimated_value DECIMAL(12,2),
            stage VARCHAR(100),
            expected_close DATE,
            assigned_to INT REFERENCES employees(employee_id),
            created_on DATE,
            notes VARCHAR(500),
            won BOOLEAN
        );
        """)

        cur.execute("""
        CREATE TABLE IF NOT EXISTS sales (
            sale_id SERIAL PRIMARY KEY,
            customer_id INT REFERENCES customers(customer_id),
            employee_id INT REFERENCES employees(employee_id),
            product_id INT REFERENCES products(product_id),
            quantity INT,
            total_amount DECIMAL(12,2),
            sale_date DATE,
            payment_method VARCHAR(50),
            region VARCHAR(100),
            discount DECIMAL(5,2)
        );
        """)

        cur.execute("""
        CREATE TABLE IF NOT EXISTS invoices (
            invoice_id SERIAL PRIMARY KEY,
            sale_id INT REFERENCES sales(sale_id),
            invoice_number VARCHAR(50),
            issue_date DATE,
            due_date DATE,
            total_amount DECIMAL(12,2),
            tax DECIMAL(5,2),
            status VARCHAR(50),
            billing_address VARCHAR(255),
            payment_received BOOLEAN
        );
        """)

        cur.execute("""
        CREATE TABLE IF NOT EXISTS interactions (
            interaction_id SERIAL PRIMARY KEY,
            customer_id INT REFERENCES customers(customer_id),
            employee_id INT REFERENCES employees(employee_id),
            interaction_type VARCHAR(100),
            channel VARCHAR(50),
            interaction_date DATE,
            notes VARCHAR(500),
            follow_up_required BOOLEAN,
            satisfaction_score INT,
            duration_minutes INT,
            outcome VARCHAR(100)
        );
        """)

        cur.execute("""
        CREATE TABLE IF NOT EXISTS marketing_campaigns (
            campaign_id SERIAL PRIMARY KEY,
            campaign_name VARCHAR(150),
            start_date DATE,
            end_date DATE,
            budget DECIMAL(12,2),
            channel VARCHAR(100),
            target_audience VARCHAR(255),
            conversion_rate DECIMAL(5,2),
            responsible_employee INT REFERENCES employees(employee_id),
            active BOOLEAN
        );
        """)

        conn.commit()
        print("✅ All CRM tables created successfully.")


# -----------------------------------------
# 3. Populate with fake data
# -----------------------------------------
def populate_crm_data(num_records=100):
    with get_connection() as conn:
        cur = conn.cursor()

        # Suppliers
        for _ in range(num_records):
            cur.execute("""
                INSERT INTO suppliers (supplier_name, contact_person, phone, email, address, city, country, rating, payment_terms, active_since)
                VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
            """, (
                fake.company(),
                fake.name(),
                fake.phone_number(),
                fake.company_email(),
                fake.address(),
                fake.city(),
                fake.country(),
                round(random.uniform(2.0, 5.0), 2),
                random.choice(["Net 30", "Net 60", "Advance"]),
                fake.date_this_decade()
            ))

        # Employees
        for _ in range(num_records):
            cur.execute("""
                INSERT INTO employees (first_name, last_name, email, phone, department, position, hire_date, salary, is_active)
                VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s)
            """, (
                fake.first_name(),
                fake.last_name(),
                fake.company_email(),
                fake.phone_number(),
                random.choice(["Sales", "Support", "HR", "IT", "Finance"]),
                random.choice(["Manager", "Executive", "Lead", "Associate"]),
                fake.date_this_decade(),
                round(random.uniform(40000, 120000), 2),
                fake.boolean()
            ))

        # Customers
        for _ in range(num_records):
            cur.execute("""
                INSERT INTO customers (first_name, last_name, email, phone, address, city, country, signup_date, loyalty_points)
                VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s)
            """, (
                fake.first_name(),
                fake.last_name(),
                fake.email(),
                fake.phone_number(),
                fake.address(),
                fake.city(),
                fake.country(),
                fake.date_this_decade(),
                random.randint(0, 5000)
            ))

        # Products
        for _ in range(num_records):
            cur.execute("""
                INSERT INTO products (product_name, sku, description, category, unit_price, supplier_id, stock_quantity, reorder_level, discontinued)
                VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s)
            """, (
                fake.word().capitalize() + " " + fake.word().capitalize(),
                fake.bothify(text='SKU-#####'),
                fake.text(max_nb_chars=200),
                random.choice(["Software", "Hardware", "Service", "Subscription"]),
                round(random.uniform(10, 2000), 2),
                random.randint(1, num_records),
                random.randint(10, 500),
                random.randint(5, 50),
                fake.boolean()
            ))

        # Leads
        for _ in range(num_records):
            cur.execute("""
                INSERT INTO leads (lead_name, company, email, phone, status, source, assigned_to, created_on, converted)
                VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s)
            """, (
                fake.name(),
                fake.company(),
                fake.email(),
                fake.phone_number(),
                random.choice(["New", "Contacted", "Qualified", "Lost"]),
                random.choice(["Web", "Referral", "Cold Call", "Event"]),
                random.randint(1, num_records),
                fake.date_this_decade(),
                fake.boolean()
            ))

        conn.commit()
        print("✅ Basic CRM data populated successfully.")


# -----------------------------------------
# Run both steps
# -----------------------------------------
if __name__ == "__main__":
    create_crm_tables()
    populate_crm_data(50)

✅ All CRM tables created successfully.
✅ Basic CRM data populated successfully.

In [2]:
def extract_schema():
    conn = get_connection()
    cur = conn.cursor()

    # get all tables
    cur.execute("""
        SELECT table_name
        FROM information_schema.tables
        WHERE table_schema = 'public'
        ORDER BY table_name;
    """)
    tables = [r[0] for r in cur.fetchall()]

    schema_dict = {}

    for table in tables:
        cur.execute(f"""
            SELECT column_name, data_type
            FROM information_schema.columns
            WHERE table_name = %s;
        """, (table,))
        columns = cur.fetchall()

        cur.execute(f"""
            SELECT
                kcu.column_name,
                ccu.table_name AS foreign_table,
                ccu.column_name AS foreign_column
            FROM
                information_schema.table_constraints AS tc
                JOIN information_schema.key_column_usage AS kcu
                  ON tc.constraint_name = kcu.constraint_name
                JOIN information_schema.constraint_column_usage AS ccu
                  ON ccu.constraint_name = tc.constraint_name
            WHERE
                constraint_type = 'FOREIGN KEY' AND tc.table_name = %s;
        """, (table,))
        fkeys = cur.fetchall()

        schema_dict[table] = {
            "columns": [{"name": c[0], "type": c[1]} for c in columns],
            "foreign_keys": [
                {
                    "column": fk[0],
                    "references": {
                        "table": fk[1],
                        "column": fk[2]
                    }
                } for fk in fkeys
            ]
        }

    cur.close()
    conn.close()

    return schema_dict

In [19]:
extract_schema()

{'customers': {'columns': [{'name': 'customer_id', 'type': 'integer'},
   {'name': 'first_name', 'type': 'character varying'},
   {'name': 'last_name', 'type': 'character varying'},
   {'name': 'email', 'type': 'character varying'},
   {'name': 'phone', 'type': 'character varying'},
   {'name': 'address', 'type': 'character varying'},
   {'name': 'city', 'type': 'character varying'},
   {'name': 'country', 'type': 'character varying'},
   {'name': 'signup_date', 'type': 'date'},
   {'name': 'loyalty_points', 'type': 'integer'}],
  'foreign_keys': []},
 'employees': {'columns': [{'name': 'employee_id', 'type': 'integer'},
   {'name': 'first_name', 'type': 'character varying'},
   {'name': 'last_name', 'type': 'character varying'},
   {'name': 'email', 'type': 'character varying'},
   {'name': 'phone', 'type': 'character varying'},
   {'name': 'department', 'type': 'character varying'},
   {'name': 'position', 'type': 'character varying'},
   {'name': 'hire_date', 'type': 'date'},
   {'name': 'salary', 'type': 'numeric'},
   {'name': 'is_active', 'type': 'boolean'}],
  'foreign_keys': []},
 'interactions': {'columns': [{'name': 'interaction_id', 'type': 'integer'},
   {'name': 'customer_id', 'type': 'integer'},
   {'name': 'employee_id', 'type': 'integer'},
   {'name': 'interaction_type', 'type': 'character varying'},
   {'name': 'channel', 'type': 'character varying'},
   {'name': 'interaction_date', 'type': 'date'},
   {'name': 'notes', 'type': 'character varying'},
   {'name': 'follow_up_required', 'type': 'boolean'},
   {'name': 'satisfaction_score', 'type': 'integer'},
   {'name': 'duration_minutes', 'type': 'integer'},
   {'name': 'outcome', 'type': 'character varying'}],
  'foreign_keys': [{'column': 'customer_id',
    'references': {'table': 'customers', 'column': 'customer_id'}},
   {'column': 'employee_id',
    'references': {'table': 'employees', 'column': 'employee_id'}}]},
 'invoices': {'columns': [{'name': 'invoice_id', 'type': 'integer'},
   {'name': 'sale_id', 'type': 'integer'},
   {'name': 'invoice_number', 'type': 'character varying'},
   {'name': 'issue_date', 'type': 'date'},
   {'name': 'due_date', 'type': 'date'},
   {'name': 'total_amount', 'type': 'numeric'},
   {'name': 'tax', 'type': 'numeric'},
   {'name': 'status', 'type': 'character varying'},
   {'name': 'billing_address', 'type': 'character varying'},
   {'name': 'payment_received', 'type': 'boolean'}],
  'foreign_keys': [{'column': 'sale_id',
    'references': {'table': 'sales', 'column': 'sale_id'}}]},
 'leads': {'columns': [{'name': 'lead_id', 'type': 'integer'},
   {'name': 'lead_name', 'type': 'character varying'},
   {'name': 'company', 'type': 'character varying'},
   {'name': 'email', 'type': 'character varying'},
   {'name': 'phone', 'type': 'character varying'},
   {'name': 'status', 'type': 'character varying'},
   {'name': 'source', 'type': 'character varying'},
   {'name': 'assigned_to', 'type': 'integer'},
   {'name': 'created_on', 'type': 'date'},
   {'name': 'converted', 'type': 'boolean'}],
  'foreign_keys': [{'column': 'assigned_to',
    'references': {'table': 'employees', 'column': 'employee_id'}}]},
 'marketing_campaigns': {'columns': [{'name': 'campaign_id',
    'type': 'integer'},
   {'name': 'campaign_name', 'type': 'character varying'},
   {'name': 'start_date', 'type': 'date'},
   {'name': 'end_date', 'type': 'date'},
   {'name': 'budget', 'type': 'numeric'},
   {'name': 'channel', 'type': 'character varying'},
   {'name': 'target_audience', 'type': 'character varying'},
   {'name': 'conversion_rate', 'type': 'numeric'},
   {'name': 'responsible_employee', 'type': 'integer'},
   {'name': 'active', 'type': 'boolean'}],
  'foreign_keys': [{'column': 'responsible_employee',
    'references': {'table': 'employees', 'column': 'employee_id'}}]},
 'opportunities': {'columns': [{'name': 'opportunity_id', 'type': 'integer'},
   {'name': 'lead_id', 'type': 'integer'},
   {'name': 'product_id', 'type': 'integer'},
   {'name': 'estimated_value', 'type': 'numeric'},
   {'name': 'stage', 'type': 'character varying'},
   {'name': 'expected_close', 'type': 'date'},
   {'name': 'assigned_to', 'type': 'integer'},
   {'name': 'created_on', 'type': 'date'},
   {'name': 'notes', 'type': 'character varying'},
   {'name': 'won', 'type': 'boolean'}],
  'foreign_keys': [{'column': 'lead_id',
    'references': {'table': 'leads', 'column': 'lead_id'}},
   {'column': 'product_id',
    'references': {'table': 'products', 'column': 'product_id'}},
   {'column': 'assigned_to',
    'references': {'table': 'employees', 'column': 'employee_id'}}]},
 'products': {'columns': [{'name': 'product_id', 'type': 'integer'},
   {'name': 'product_name', 'type': 'character varying'},
   {'name': 'sku', 'type': 'character varying'},
   {'name': 'description', 'type': 'character varying'},
   {'name': 'category', 'type': 'character varying'},
   {'name': 'unit_price', 'type': 'numeric'},
   {'name': 'supplier_id', 'type': 'integer'},
   {'name': 'stock_quantity', 'type': 'integer'},
   {'name': 'reorder_level', 'type': 'integer'},
   {'name': 'discontinued', 'type': 'boolean'}],
  'foreign_keys': [{'column': 'supplier_id',
    'references': {'table': 'suppliers', 'column': 'supplier_id'}}]},
 'sales': {'columns': [{'name': 'sale_id', 'type': 'integer'},
   {'name': 'customer_id', 'type': 'integer'},
   {'name': 'employee_id', 'type': 'integer'},
   {'name': 'product_id', 'type': 'integer'},
   {'name': 'quantity', 'type': 'integer'},
   {'name': 'total_amount', 'type': 'numeric'},
   {'name': 'sale_date', 'type': 'date'},
   {'name': 'payment_method', 'type': 'character varying'},
   {'name': 'region', 'type': 'character varying'},
   {'name': 'discount', 'type': 'numeric'}],
  'foreign_keys': [{'column': 'customer_id',
    'references': {'table': 'customers', 'column': 'customer_id'}},
   {'column': 'employee_id',
    'references': {'table': 'employees', 'column': 'employee_id'}},
   {'column': 'product_id',
    'references': {'table': 'products', 'column': 'product_id'}}]},
 'suppliers': {'columns': [{'name': 'supplier_id', 'type': 'integer'},
   {'name': 'supplier_name', 'type': 'character varying'},
   {'name': 'contact_person', 'type': 'character varying'},
   {'name': 'phone', 'type': 'character varying'},
   {'name': 'email', 'type': 'character varying'},
   {'name': 'address', 'type': 'character varying'},
   {'name': 'city', 'type': 'character varying'},
   {'name': 'country', 'type': 'character varying'},
   {'name': 'rating', 'type': 'numeric'},
   {'name': 'payment_terms', 'type': 'character varying'},
   {'name': 'active_since', 'type': 'date'}],
  'foreign_keys': []}}

In [4]:
def schema_to_text(schema_dict):
    text_blocks = []

    for table, info in schema_dict.items():
        columns = ", ".join([f"{col['name']} ({col['type']})" for col in info["columns"]])
        fkeys = [
            f"{fk['column']} → {fk['references']['table']}.{fk['references']['column']}"
            for fk in info["foreign_keys"]
        ]
        fk_text = "; ".join(fkeys) if fkeys else "None"
        table_text = f"Table: {table}\nColumns: {columns}\nForeign Keys: {fk_text}\n"
        text_blocks.append(table_text)

    # Combined text (for embedding)
    full_text = "\n\n".join(text_blocks)

    # Or list form (if your vectorstore stores per-table chunks)
    docs = text_blocks

    return full_text, docs

In [20]:
def schema_to_vector_docs(schema: dict):
    """
    Converts a relational schema (dict) into a list of text documents
    for embedding in a vector store.
    """
    docs = []

    for table_name, table_info in schema.items():
        # --- Table-level document ---
        col_names = [col['name'] for col in table_info['columns']]
        table_doc = {
            "id": f"table::{table_name}",
            "type": "table",
            "text": (
                f"Table '{table_name}' contains data related to {table_name.replace('_', ' ')}. "
                f"It has the following columns: {', '.join(col_names)}."
            ),
            "metadata": {
                "table": table_name,
                "columns": col_names
            }
        }
        docs.append(table_doc)

        # --- Column-level documents ---
        for col in table_info['columns']:
            col_doc = {
                "id": f"column::{table_name}.{col['name']}",
                "type": "column",
                "text": (
                    f"Column '{col['name']}' in table '{table_name}' stores {col['name'].replace('_', ' ')} data. "
                    f"Data type: {col['type']}."
                ),
                "metadata": {
                    "table": table_name,
                    "column": col['name'],
                    "type": col['type']
                }
            }
            docs.append(col_doc)

        # --- Relationship-level documents ---
        for fk in table_info.get('foreign_keys', []):
            src_col = fk['column']
            tgt_table = fk['references']['table']
            tgt_col = fk['references']['column']

            rel_doc = {
                "id": f"relation::{table_name}.{src_col}->{tgt_table}.{tgt_col}",
                "type": "relationship",
                "text": (
                    f"In table '{table_name}', column '{src_col}' is a foreign key referencing "
                    f"column '{tgt_col}' in table '{tgt_table}'. "
                    f"This defines a relationship between '{table_name}' and '{tgt_table}'."
                ),
                "metadata": {
                    "from_table": table_name,
                    "from_column": src_col,
                    "to_table": tgt_table,
                    "to_column": tgt_col
                }
            }
            docs.append(rel_doc)

    return docs

In [22]:
vector_ready_schema = schema_to_vector_docs(extract_schema())

In [31]:
import pprint

pprint.pp(vector_ready_schema)

[{'id': 'table::customers',
  'type': 'table',
  'text': "Table 'customers' contains data related to customers. It has the "
          'following columns: customer_id, first_name, last_name, email, '
          'phone, address, city, country, signup_date, loyalty_points.',
  'metadata': {'table': 'customers',
               'columns': ['customer_id',
                           'first_name',
                           'last_name',
                           'email',
                           'phone',
                           'address',
                           'city',
                           'country',
                           'signup_date',
                           'loyalty_points']}},
 {'id': 'column::customers.customer_id',
  'type': 'column',
  'text': "Column 'customer_id' in table 'customers' stores customer id data. "
          'Data type: integer.',
  'metadata': {'table': 'customers',
               'column': 'customer_id',
               'type': 'integer'}},
 {'id': 'column::customers.first_name',
  'type': 'column',
  'text': "Column 'first_name' in table 'customers' stores first name data. "
          'Data type: character varying.',
  'metadata': {'table': 'customers',
               'column': 'first_name',
               'type': 'character varying'}},
 {'id': 'column::customers.last_name',
  'type': 'column',
  'text': "Column 'last_name' in table 'customers' stores last name data. Data "
          'type: character varying.',
  'metadata': {'table': 'customers',
               'column': 'last_name',
               'type': 'character varying'}},
 {'id': 'column::customers.email',
  'type': 'column',
  'text': "Column 'email' in table 'customers' stores email data. Data type: "
          'character varying.',
  'metadata': {'table': 'customers',
               'column': 'email',
               'type': 'character varying'}},
 {'id': 'column::customers.phone',
  'type': 'column',
  'text': "Column 'phone' in table 'customers' stores phone data. Data type: "
          'character varying.',
  'metadata': {'table': 'customers',
               'column': 'phone',
               'type': 'character varying'}},
 {'id': 'column::customers.address',
  'type': 'column',
  'text': "Column 'address' in table 'customers' stores address data. Data "
          'type: character varying.',
  'metadata': {'table': 'customers',
               'column': 'address',
               'type': 'character varying'}},
 {'id': 'column::customers.city',
  'type': 'column',
  'text': "Column 'city' in table 'customers' stores city data. Data type: "
          'character varying.',
  'metadata': {'table': 'customers',
               'column': 'city',
               'type': 'character varying'}},
 {'id': 'column::customers.country',
  'type': 'column',
  'text': "Column 'country' in table 'customers' stores country data. Data "
          'type: character varying.',
  'metadata': {'table': 'customers',
               'column': 'country',
               'type': 'character varying'}},
 {'id': 'column::customers.signup_date',
  'type': 'column',
  'text': "Column 'signup_date' in table 'customers' stores signup date data. "
          'Data type: date.',
  'metadata': {'table': 'customers', 'column': 'signup_date', 'type': 'date'}},
 {'id': 'column::customers.loyalty_points',
  'type': 'column',
  'text': "Column 'loyalty_points' in table 'customers' stores loyalty points "
          'data. Data type: integer.',
  'metadata': {'table': 'customers',
               'column': 'loyalty_points',
               'type': 'integer'}},
 {'id': 'table::employees',
  'type': 'table',
  'text': "Table 'employees' contains data related to employees. It has the "
          'following columns: employee_id, first_name, last_name, email, '
          'phone, department, position, hire_date, salary, is_active.',
  'metadata': {'table': 'employees',
               'columns': ['employee_id',
                           'first_name',
                           'last_name',
                           'email',
                           'phone',
                           'department',
                           'position',
                           'hire_date',
                           'salary',
                           'is_active']}},
 {'id': 'column::employees.employee_id',
  'type': 'column',
  'text': "Column 'employee_id' in table 'employees' stores employee id data. "
          'Data type: integer.',
  'metadata': {'table': 'employees',
               'column': 'employee_id',
               'type': 'integer'}},
 {'id': 'column::employees.first_name',
  'type': 'column',
  'text': "Column 'first_name' in table 'employees' stores first name data. "
          'Data type: character varying.',
  'metadata': {'table': 'employees',
               'column': 'first_name',
               'type': 'character varying'}},
 {'id': 'column::employees.last_name',
  'type': 'column',
  'text': "Column 'last_name' in table 'employees' stores last name data. Data "
          'type: character varying.',
  'metadata': {'table': 'employees',
               'column': 'last_name',
               'type': 'character varying'}},
 {'id': 'column::employees.email',
  'type': 'column',
  'text': "Column 'email' in table 'employees' stores email data. Data type: "
          'character varying.',
  'metadata': {'table': 'employees',
               'column': 'email',
               'type': 'character varying'}},
 {'id': 'column::employees.phone',
  'type': 'column',
  'text': "Column 'phone' in table 'employees' stores phone data. Data type: "
          'character varying.',
  'metadata': {'table': 'employees',
               'column': 'phone',
               'type': 'character varying'}},
 {'id': 'column::employees.department',
  'type': 'column',
  'text': "Column 'department' in table 'employees' stores department data. "
          'Data type: character varying.',
  'metadata': {'table': 'employees',
               'column': 'department',
               'type': 'character varying'}},
 {'id': 'column::employees.position',
  'type': 'column',
  'text': "Column 'position' in table 'employees' stores position data. Data "
          'type: character varying.',
  'metadata': {'table': 'employees',
               'column': 'position',
               'type': 'character varying'}},
 {'id': 'column::employees.hire_date',
  'type': 'column',
  'text': "Column 'hire_date' in table 'employees' stores hire date data. Data "
          'type: date.',
  'metadata': {'table': 'employees', 'column': 'hire_date', 'type': 'date'}},
 {'id': 'column::employees.salary',
  'type': 'column',
  'text': "Column 'salary' in table 'employees' stores salary data. Data type: "
          'numeric.',
  'metadata': {'table': 'employees', 'column': 'salary', 'type': 'numeric'}},
 {'id': 'column::employees.is_active',
  'type': 'column',
  'text': "Column 'is_active' in table 'employees' stores is active data. Data "
          'type: boolean.',
  'metadata': {'table': 'employees', 'column': 'is_active', 'type': 'boolean'}},
 {'id': 'table::interactions',
  'type': 'table',
  'text': "Table 'interactions' contains data related to interactions. It has "
          'the following columns: interaction_id, customer_id, employee_id, '
          'interaction_type, channel, interaction_date, notes, '
          'follow_up_required, satisfaction_score, duration_minutes, outcome.',
  'metadata': {'table': 'interactions',
               'columns': ['interaction_id',
                           'customer_id',
                           'employee_id',
                           'interaction_type',
                           'channel',
                           'interaction_date',
                           'notes',
                           'follow_up_required',
                           'satisfaction_score',
                           'duration_minutes',
                           'outcome']}},
 {'id': 'column::interactions.interaction_id',
  'type': 'column',
  'text': "Column 'interaction_id' in table 'interactions' stores interaction "
          'id data. Data type: integer.',
  'metadata': {'table': 'interactions',
               'column': 'interaction_id',
               'type': 'integer'}},
 {'id': 'column::interactions.customer_id',
  'type': 'column',
  'text': "Column 'customer_id' in table 'interactions' stores customer id "
          'data. Data type: integer.',
  'metadata': {'table': 'interactions',
               'column': 'customer_id',
               'type': 'integer'}},
 {'id': 'column::interactions.employee_id',
  'type': 'column',
  'text': "Column 'employee_id' in table 'interactions' stores employee id "
          'data. Data type: integer.',
  'metadata': {'table': 'interactions',
               'column': 'employee_id',
               'type': 'integer'}},
 {'id': 'column::interactions.interaction_type',
  'type': 'column',
  'text': "Column 'interaction_type' in table 'interactions' stores "
          'interaction type data. Data type: character varying.',
  'metadata': {'table': 'interactions',
               'column': 'interaction_type',
               'type': 'character varying'}},
 {'id': 'column::interactions.channel',
  'type': 'column',
  'text': "Column 'channel' in table 'interactions' stores channel data. Data "
          'type: character varying.',
  'metadata': {'table': 'interactions',
               'column': 'channel',
               'type': 'character varying'}},
 {'id': 'column::interactions.interaction_date',
  'type': 'column',
  'text': "Column 'interaction_date' in table 'interactions' stores "
          'interaction date data. Data type: date.',
  'metadata': {'table': 'interactions',
               'column': 'interaction_date',
               'type': 'date'}},
 {'id': 'column::interactions.notes',
  'type': 'column',
  'text': "Column 'notes' in table 'interactions' stores notes data. Data "
          'type: character varying.',
  'metadata': {'table': 'interactions',
               'column': 'notes',
               'type': 'character varying'}},
 {'id': 'column::interactions.follow_up_required',
  'type': 'column',
  'text': "Column 'follow_up_required' in table 'interactions' stores follow "
          'up required data. Data type: boolean.',
  'metadata': {'table': 'interactions',
               'column': 'follow_up_required',
               'type': 'boolean'}},
 {'id': 'column::interactions.satisfaction_score',
  'type': 'column',
  'text': "Column 'satisfaction_score' in table 'interactions' stores "
          'satisfaction score data. Data type: integer.',
  'metadata': {'table': 'interactions',
               'column': 'satisfaction_score',
               'type': 'integer'}},
 {'id': 'column::interactions.duration_minutes',
  'type': 'column',
  'text': "Column 'duration_minutes' in table 'interactions' stores duration "
          'minutes data. Data type: integer.',
  'metadata': {'table': 'interactions',
               'column': 'duration_minutes',
               'type': 'integer'}},
 {'id': 'column::interactions.outcome',
  'type': 'column',
  'text': "Column 'outcome' in table 'interactions' stores outcome data. Data "
          'type: character varying.',
  'metadata': {'table': 'interactions',
               'column': 'outcome',
               'type': 'character varying'}},
 {'id': 'relation::interactions.customer_id->customers.customer_id',
  'type': 'relationship',
  'text': "In table 'interactions', column 'customer_id' is a foreign key "
          "referencing column 'customer_id' in table 'customers'. This defines "
          "a relationship between 'interactions' and 'customers'.",
  'metadata': {'from_table': 'interactions',
               'from_column': 'customer_id',
               'to_table': 'customers',
               'to_column': 'customer_id'}},
 {'id': 'relation::interactions.employee_id->employees.employee_id',
  'type': 'relationship',
  'text': "In table 'interactions', column 'employee_id' is a foreign key "
          "referencing column 'employee_id' in table 'employees'. This defines "
          "a relationship between 'interactions' and 'employees'.",
  'metadata': {'from_table': 'interactions',
               'from_column': 'employee_id',
               'to_table': 'employees',
               'to_column': 'employee_id'}},
 {'id': 'table::invoices',
  'type': 'table',
  'text': "Table 'invoices' contains data related to invoices. It has the "
          'following columns: invoice_id, sale_id, invoice_number, issue_date, '
          'due_date, total_amount, tax, status, billing_address, '
          'payment_received.',
  'metadata': {'table': 'invoices',
               'columns': ['invoice_id',
                           'sale_id',
                           'invoice_number',
                           'issue_date',
                           'due_date',
                           'total_amount',
                           'tax',
                           'status',
                           'billing_address',
                           'payment_received']}},
 {'id': 'column::invoices.invoice_id',
  'type': 'column',
  'text': "Column 'invoice_id' in table 'invoices' stores invoice id data. "
          'Data type: integer.',
  'metadata': {'table': 'invoices', 'column': 'invoice_id', 'type': 'integer'}},
 {'id': 'column::invoices.sale_id',
  'type': 'column',
  'text': "Column 'sale_id' in table 'invoices' stores sale id data. Data "
          'type: integer.',
  'metadata': {'table': 'invoices', 'column': 'sale_id', 'type': 'integer'}},
 {'id': 'column::invoices.invoice_number',
  'type': 'column',
  'text': "Column 'invoice_number' in table 'invoices' stores invoice number "
          'data. Data type: character varying.',
  'metadata': {'table': 'invoices',
               'column': 'invoice_number',
               'type': 'character varying'}},
 {'id': 'column::invoices.issue_date',
  'type': 'column',
  'text': "Column 'issue_date' in table 'invoices' stores issue date data. "
          'Data type: date.',
  'metadata': {'table': 'invoices', 'column': 'issue_date', 'type': 'date'}},
 {'id': 'column::invoices.due_date',
  'type': 'column',
  'text': "Column 'due_date' in table 'invoices' stores due date data. Data "
          'type: date.',
  'metadata': {'table': 'invoices', 'column': 'due_date', 'type': 'date'}},
 {'id': 'column::invoices.total_amount',
  'type': 'column',
  'text': "Column 'total_amount' in table 'invoices' stores total amount data. "
          'Data type: numeric.',
  'metadata': {'table': 'invoices',
               'column': 'total_amount',
               'type': 'numeric'}},
 {'id': 'column::invoices.tax',
  'type': 'column',
  'text': "Column 'tax' in table 'invoices' stores tax data. Data type: "
          'numeric.',
  'metadata': {'table': 'invoices', 'column': 'tax', 'type': 'numeric'}},
 {'id': 'column::invoices.status',
  'type': 'column',
  'text': "Column 'status' in table 'invoices' stores status data. Data type: "
          'character varying.',
  'metadata': {'table': 'invoices',
               'column': 'status',
               'type': 'character varying'}},
 {'id': 'column::invoices.billing_address',
  'type': 'column',
  'text': "Column 'billing_address' in table 'invoices' stores billing address "
          'data. Data type: character varying.',
  'metadata': {'table': 'invoices',
               'column': 'billing_address',
               'type': 'character varying'}},
 {'id': 'column::invoices.payment_received',
  'type': 'column',
  'text': "Column 'payment_received' in table 'invoices' stores payment "
          'received data. Data type: boolean.',
  'metadata': {'table': 'invoices',
               'column': 'payment_received',
               'type': 'boolean'}},
 {'id': 'relation::invoices.sale_id->sales.sale_id',
  'type': 'relationship',
  'text': "In table 'invoices', column 'sale_id' is a foreign key referencing "
          "column 'sale_id' in table 'sales'. This defines a relationship "
          "between 'invoices' and 'sales'.",
  'metadata': {'from_table': 'invoices',
               'from_column': 'sale_id',
               'to_table': 'sales',
               'to_column': 'sale_id'}},
 {'id': 'table::leads',
  'type': 'table',
  'text': "Table 'leads' contains data related to leads. It has the following "
          'columns: lead_id, lead_name, company, email, phone, status, source, '
          'assigned_to, created_on, converted.',
  'metadata': {'table': 'leads',
               'columns': ['lead_id',
                           'lead_name',
                           'company',
                           'email',
                           'phone',
                           'status',
                           'source',
                           'assigned_to',
                           'created_on',
                           'converted']}},
 {'id': 'column::leads.lead_id',
  'type': 'column',
  'text': "Column 'lead_id' in table 'leads' stores lead id data. Data type: "
          'integer.',
  'metadata': {'table': 'leads', 'column': 'lead_id', 'type': 'integer'}},
 {'id': 'column::leads.lead_name',
  'type': 'column',
  'text': "Column 'lead_name' in table 'leads' stores lead name data. Data "
          'type: character varying.',
  'metadata': {'table': 'leads',
               'column': 'lead_name',
               'type': 'character varying'}},
 {'id': 'column::leads.company',
  'type': 'column',
  'text': "Column 'company' in table 'leads' stores company data. Data type: "
          'character varying.',
  'metadata': {'table': 'leads',
               'column': 'company',
               'type': 'character varying'}},
 {'id': 'column::leads.email',
  'type': 'column',
  'text': "Column 'email' in table 'leads' stores email data. Data type: "
          'character varying.',
  'metadata': {'table': 'leads',
               'column': 'email',
               'type': 'character varying'}},
 {'id': 'column::leads.phone',
  'type': 'column',
  'text': "Column 'phone' in table 'leads' stores phone data. Data type: "
          'character varying.',
  'metadata': {'table': 'leads',
               'column': 'phone',
               'type': 'character varying'}},
 {'id': 'column::leads.status',
  'type': 'column',
  'text': "Column 'status' in table 'leads' stores status data. Data type: "
          'character varying.',
  'metadata': {'table': 'leads',
               'column': 'status',
               'type': 'character varying'}},
 {'id': 'column::leads.source',
  'type': 'column',
  'text': "Column 'source' in table 'leads' stores source data. Data type: "
          'character varying.',
  'metadata': {'table': 'leads',
               'column': 'source',
               'type': 'character varying'}},
 {'id': 'column::leads.assigned_to',
  'type': 'column',
  'text': "Column 'assigned_to' in table 'leads' stores assigned to data. Data "
          'type: integer.',
  'metadata': {'table': 'leads', 'column': 'assigned_to', 'type': 'integer'}},
 {'id': 'column::leads.created_on',
  'type': 'column',
  'text': "Column 'created_on' in table 'leads' stores created on data. Data "
          'type: date.',
  'metadata': {'table': 'leads', 'column': 'created_on', 'type': 'date'}},
 {'id': 'column::leads.converted',
  'type': 'column',
  'text': "Column 'converted' in table 'leads' stores converted data. Data "
          'type: boolean.',
  'metadata': {'table': 'leads', 'column': 'converted', 'type': 'boolean'}},
 {'id': 'relation::leads.assigned_to->employees.employee_id',
  'type': 'relationship',
  'text': "In table 'leads', column 'assigned_to' is a foreign key referencing "
          "column 'employee_id' in table 'employees'. This defines a "
          "relationship between 'leads' and 'employees'.",
  'metadata': {'from_table': 'leads',
               'from_column': 'assigned_to',
               'to_table': 'employees',
               'to_column': 'employee_id'}},