In [1]:
!which python

/home/prakhar/LUKE_DEV/prakhar-luke-dev/RaTsql/.venv/bin/python

# 1. RAG

## 1.1 Method 1 : Full schema embed

In [ ]:
{
  "embedding_text": "Table: orders\n\
  Description: Stores purchase orders made by users.\n\
  Columns:\n  - order_id (INT, PK): Unique order identifier\n \
              - user_id (INT, FK -> users.user_id): User who placed the order\n  \
              - total_amount (DECIMAL): Total value of the order\n  \
              - order_date (TIMESTAMP): Date of the order\n\
              - Primary Key: order_id\n\
              - Foreign Keys:\n  \
                  - user_id -> users.user_id\n\
              - Sample Queries:\n  \
                  - NL: \"Get all orders placed by user 123\"\n    \
                  - SQL: \"SELECT * FROM orders WHERE user_id = 123\"",
  
  "table_name": "orders",
  "chunk_id": 1,
  "columns": [
    {"name": "order_id", "type": "INT", "pk": true, "fk": null},
    {"name": "user_id", "type": "INT", "pk": false, "fk": {"table": "users", "column": "user_id"}},
    {"name": "total_amount", "type": "DECIMAL", "pk": false, "fk": null},
    {"name": "order_date", "type": "TIMESTAMP", "pk": false, "fk": null}
  ],
  "primary_keys": ["order_id"],
  "foreign_keys": [{"column": "user_id", "references_table": "users", "references_column": "user_id"}],
  "relationships": [
    {"from_table": "orders", 
     "from_column": "user_id", 
     "to_table": "users", 
     "to_column": "user_id", 
     "description": "Each order is linked to a user"}
  ],
  "sample_queries": [
    {"nl": "Get all orders placed by user 123", "sql": "SELECT * FROM orders WHERE user_id = 123"},
    {"nl": "List orders above 500 dollars", "sql": "SELECT * FROM orders WHERE total_amount > 500"}
  ]
}

## Method 2 : Query Embed

In [ ]:
{
    "embedding_text": "Get all orders placed by user 123"
    "metadata": {
        "sql": "SELECT * FROM orders WHERE user_id = 123",
        "tables": ["orders"],
        "columns": ["user_id"]
        "userfull_schema": {
            "orders":{"user_id"}
        }
    }
}